
*
{
	margin: 0;
	padding: 0;

	font-family: 微软雅黑,sans-serif;
    
}

a
{
	text-decoration: none;
	color: #292929;
}

div
{
	transition: all 0.5s;
}

dl
{
	transition: all 0.5s;
}

dd
{
	transition: all 0.5s;
}