@font-face {
    font-family: "VictorMono-Medium";
    src: url("./res/font/VictorMono-Medium.ttf");
}

body {
    background: #edfffe;
    font-family: 幼圆, sans-serif;
}

img {
    width: 100%;
    font-size: 0px;
}

svg {
    font-size: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#MainWindow {
    overflow-y: auto;
    transition: scroll 0.3s;
    background: fixed;
    background-image: url(./BJ.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(255, 255, 255, 0.8);
}

#SQBlog_sidebarTool {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    position: fixed;
    left: 0px;
    bottom: 25%;
    width: 30px;
    background-color: rgba(0, 238, 255, 0.6);
}

#SQBlog_sidebarTool>button {
    display: block;
}

#SQBlog_sidebarTool>.up>img {
    display: block;
    transform: rotate(180deg);
}

#SQBlog_sidebarTool>.set>img {
    display: block;
}

#SQBlog_openCentent_placeholder {
    text-align: center;
    filter: contrast(50);
    transition: height 1s;
}

#SQBlog_openCentent_placeholder>div>p {
    font-size: 5em;
    letter-spacing: 1000px;
    margin-top: 10%;
    user-select: text;
    animation: showUp 5s forwards;
}

#SQBlog_openCentent_placeholder>div>span {
    display: block;
    font-size: 1.5em;
    letter-spacing: 1000px;
    margin-top: 1%;
    color: #2d2d2d;
    text-shadow: 0px 0px 2px #000000;
    animation: showUp 3s forwards;
}

#SQBlog_openCentent_placeholder>img {
    display: block;
    height: 40px;
    transition: all 0.3s;
    opacity: 0.5;
}

#SQBlog_openCentent_placeholder>img:hover {
    transform: translateY(5px);
    opacity: 0.8;
}

@keyframes showUp {
    0% {
        filter: blur(10px);
    }

    100% {
        letter-spacing: 1px;
        filter: blur(0px);
    }
}

#SQBlog_closeView {
    text-align: center;
    transition: all 0.3s;
}

#SQBlog_closeView>img {
    display: block;
    height: 40px;
    transition: all 0.3s;
    opacity: 0.5;
    transform: rotate(180deg);
}

#SQBlog_closeView:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

#SQBlog_titleBox {
    z-index: 990;
    width: 100%;
    opacity: 1;
    top: 0px;
    border: none;
    background-color: rgba(210, 255, 250, 0);
    box-shadow: 2px 2px 1px rgba(210, 255, 250, 0);
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    height: 80px;
    transition: all 0.3s;
}

#SQBlog_webIcon {
    margin: 10px;
    height: 60px;
    display: inline-block;
}

#SQBlog_webIcon>img {
    width: 60px;
    height: 60px;
}

#SQBlog_webIcon>span {
    font-size: 3.5em;
    vertical-align: top;
}

#SQBlog_navigationBar {
    font-size: 2em;
    float: right;
    padding-right: 5%;
    margin-top: 25px;
}

#SQBlog_navigationBar>span {
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s;
    vertical-align: top;
}

#SQBlog_navigationBar>span::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    background-color: rgb(0, 234, 255);
    transition: all 0.5s;
}

#SQBlog_navigationBar>span:hover::after {
    width: 100%;
}

#SQBlog_navigationBar>span:hover {
    color: #2d2d2d;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px #f8dbff;
}

#SQBlog_showElement {
    z-index: 99;
    position: absolute;
    top: 0px;
}

#SQBlog_view {
    margin: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.SQBlog_viewContent {
    margin: 10px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border: none;
    transition: all 0.5s;
    display: flex;
    justify-content: space-evenly;
}

#SQBlog_ArticleListBox {
    width: 75%;
    vertical-align: top;
    display: inline-block;
}

#SQBlog_ArticleListBox>#SQBlog_selectPage {
    padding: 0px;
    text-align: center;
}

#SQBlog_ArticleListBox>#SQBlog_selectPage>input {
    padding: 0px;
    text-align: center;
    margin: 0px;
    padding: 3px;
    display: inline-block;
    outline: none;
    border: none;
    font-size: 1.1em;
    width: 10%;
    background-color: #ececec;
}

#SQBlog_ArticleList>div {
    margin: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 4px #a8a8a8;
    transition: all 0.3s;
    display: block;
}

#SQBlog_ArticleList>div:hover {
    box-shadow: 0px 0px 3px #000000;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>.link {
    width: 30px;
    cursor: pointer;
    display: inline-block;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>h2 {
    display: inline-block;
    cursor: pointer;
    font-size: 1.8em;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>h2::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    background-color: rgb(130, 245, 255);
    transition: all 0.5s;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>h2:hover::after {
    width: 100%;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>span {
    display: block;
    padding: 1px;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>span>span {
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>span>.date {
    background-color: rgba(100, 100, 100, 0.2);
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>span>.classify {
    background-color: rgba(87, 159, 253, 0.2);
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>span>.date {
    background-color: rgba(100, 100, 100, 0.2);
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>div {
    margin-top: 5px;
    font-size: 1.2em;
    background-color: rgba(173, 245, 245, 0.5);
    padding: 5px;
    border-radius: 5px;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget>div>p {
    white-space: normal;
    text-indent: 1.5em;
    user-select: text;
}

#SQBlog_ArticleList>div>div {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

#SQBlog_ArticleList>div>div>img {
    display: block;
    transition: all 0.5s;
}

#SQBlog_ArticleList>div:hover img {
    scale: 1.1;
}

#SQBlog_ArticleList>div>.WebGUIJsPro-Widget {
    margin: 1%;
    width: 45%;
    border: none;
}

#SQBlog_informationBar {
    display: inline-block;
    font-size: 1.3em;
}

.SQBlog-move-style {
    z-index: 992;
    overflow: auto;
    background-color: #edfffe;
    position: fixed;
    top: 0px;
    right: 0px;
}

#SQBlog_informationBar>div {
    box-shadow: 0px 0px 1px #ffffff;
    border-radius: 10px;
    background-color: #dceae8b3;
    padding: 5px;
    margin: 10px;
    width: 250px;
    max-height: 600px;
    overflow-y: auto;
    transition: all 0.3s;
}

#SQBlog_move_style_background {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    border-radius: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 991;
}

#SQBlog_informationBar>div:hover {
    box-shadow: 0px 0px 6px #000000;
}

#SQBlog_personalInformation {
    text-align: center;
}

#SQBlog_icon {
    transition: all 0.5s;
}

#SQBlog_icon:hover {
    transform: rotate(-5deg);
}

#SQBlog_personalInformation>* {
    margin: 5px;
}

#SQBlog_personalInformation>img {
    border-radius: 5px;
    width: 70px;
    height: 70px;
}

#SQBlog_ArticleInformation {
    background-color: rgba(173, 245, 245, 0.8);
    border-radius: 5px;
}

#SQBlog_ArticleInformation>div {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

#SQBlog_ArticleInformation>div>span {
    font-size: 0.8em;
    color: #636363;
}

#SQBlog_ArticleInformation>div>b {
    cursor: pointer;
    font-size: 1.2em;
    color: #edfffe;
    transition: all 0.3s;
    text-shadow: 1px 1px 1px #575757;
}

#SQBlog_ArticleInformation>div>b:hover {
    color: #d7f0ee;
    text-shadow: 1px 1px 2px #575757;
}

#SQBlog_contactInformation>a>img {
    margin: 2px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

#SQBlog_contactInformation>a>img:hover {
    transform: rotate(360deg);
}

#SQBlog_timeDate {
    text-shadow: 0px 0px 2px #7e7e7e;
    color: #010101;
}

#SQBlog_timeDate::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
}

#SQBlog_timeDate:hover::after {
    width: 100%;
}

.SQBlog_informationBarArticle>* {
    padding: 2px;
    border-radius: 5px;
}

.SQBlog_informationBarArticle>b {
    color: #ffffff;
    text-shadow: 0px 0px 1px #546469;
    display: inline-block;
}

.SQBlog_informationBarArticle>div {
    border-top: solid;
    background-color: #ffffff;
    white-space: wrap;
}

#SQBlog_announcement>b {
    background-color: #ffd447;
}

#SQBlog_announcement>div {
    border-top-color: #8a6a00;
    font-size: 1.2em;
    user-select: text;
    text-indent: 1.5em;
}

#SQBlog_newArticleList>b {
    background-color: #47ff9a;
}

#SQBlog_newArticleList>div {
    border-top-color: #017937;
}

#SQBlog_newArticleList>div>div {
    border: solid;
    border-color: rgba(0, 255, 255, 0.5);
    margin: 2px;
    margin-bottom: 5px;
    padding: 1px;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(173, 245, 245, 0.3);
}

#SQBlog_newArticleList>div>div:hover {
    transform: perspective(500px) rotateY(15deg);
}

#SQBlog_newArticleList>div>div>p {
    font-size: 0.8em;
    white-space: pre-wrap;
}

#SQBlog_newArticleList>div>div>b {
    text-decoration: underline;
}

#SQBlog_classify>b {
    background-color: #579ffd;
}

#SQBlog_classify>div {
    border-top-color: #003d8d;
}

#SQBlog_classify>div>b {
    margin: 3px;
    display: block;
    cursor: pointer;
    transition: all 0.3s;
    padding: 3px;
    border-left: solid 3px rgba(255, 255, 255, 0);
    border-radius: 5px 0px 5px 0px;
    text-shadow: 0px 0px 1px #515151;
}

#SQBlog_classify>div>.on {
    border-color: #8affe2;
    padding-left: 10px;
    background-color: rgba(87, 159, 253, 0.6);
}

#SQBlog_classify>div>b:hover {
    padding-left: 10px;
    background-color: rgba(87, 159, 253, 0.6);
}

#SQBlog_tag>b {
    background-color: #8957fd;
}

#SQBlog_tag>div {
    border-top-color: #290089;
}

#SQBlog_tag>div>span {
    cursor: pointer;
    text-shadow: 0px 0px 2px #9b9b9b;
    padding: 2px;
    margin: 2px;
}

#SQBlog_tag>div>.on {
    color: #579ffd;
    text-decoration: underline;
}

#SQBlog_tag>div>span:hover {
    color: #579ffd;
}

#SQBlog_pigeonhole>b {
    background-color: #fd8e57;
}

#SQBlog_pigeonhole>div {
    border-top-color: #7d2a00;
}

#SQBlog_blogInformation>b {
    background-color: #5853e7;
}

#SQBlog_blogInformation>div {
    border-top-color: #050089;
}

#SQBlog_blogInformation>div>p {
    margin: 3px;
}

#SQBlog_blogInformation>div>p>.value {
    text-align: center;
}

#SQBlog_elesPage {
    margin: 10px;
    transition: all 0.3s;
    opacity: 0;
    display: none;
    width: 72%;
}

#SQBlog_elesPage>div {
    border-radius: 10px;
    border: solid;

}

#SQBlog_elesPage>div>span {
    font-size: 1.5em;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 0px 0px 1px #000000;
    display: inline-block;
    padding: 3px;
}

#SQBlog_elesPage>.classify {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.classify>span {
    background-color: #579ffd;
}

#SQBlog_elesPage>.classify>div {
    padding: 5px;
}

#SQBlog_elesPage>.classify>div>span {
    margin: 3px;
    margin-left: 0px;
    margin-right: 8px;
    font-size: 1.2em;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0px 0px 1px #000000;
    border: solid 2px rgba(0, 0, 0, 0);
    background-color: rgba(85, 160, 250, 0.5);
}

#SQBlog_elesPage>.classify>div>.on {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #71848e;
}

#SQBlog_elesPage>.classify>div>span:hover {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #71848e;
}

#SQBlog_elesPage>.tag {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.tag>span {
    background-color: #8957fd;
}

#SQBlog_elesPage>.tag>div {
    padding: 5px;
}

#SQBlog_elesPage>.tag>div>span {
    font-size: 1.2em;
    margin: 3px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0px 0px 1px #000000;
    border: solid 2px rgba(0, 0, 0, 0);
    background-color: rgba(140, 90, 250, 0.5);
}

#SQBlog_elesPage>.tag>div>.on {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #71848e;
}

#SQBlog_elesPage>.tag>div>span:hover {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #71848e;
}

#SQBlog_elesPage>.friendLink {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.friendLink>span {
    background-color: #32e6b9;
}

#SQBlog_elesPage>.friendLink>div>span {
    margin: 6px;
}

#SQBlog_elesPage>.friendLink>div>span>a {
    font-size: 1.6em;
    color: #00ffbf;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0px 0px 1px #7effdf;
    border-left: solid;
    border-right: solid;
    border-left-width: 6px;
    border-right-width: 0px;
    transition: all 0.3s;
    background-color: rgba(50, 230, 185, 0.2);
}

#SQBlog_elesPage>.friendLink>div>span>a:hover {
    border-left-width: 0px;
    border-right-width: 6px;
}

#SQBlog_elesPage>.about {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.about>span {
    background-color: #32b6e6;
}

#SQBlog_elesPage>.about>div>p {
    margin: 2px;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: rgba(134, 223, 255, 0.8);
    user-select: text;
    white-space: pre-wrap;
    text-overflow: clip;
    text-shadow: 0px 0px 1px #000000;
}

#SQBlog_elesPage>.pigeonhole {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.pigeonhole>span {
    background-color: #fd8e57;
}

#SQBlog_elesPage>.comment {
    font-size: 1.2em;
    padding: 5px;
}

#SQBlog_elesPage>.comment>span {
    background-color: #fb7878;
}

#SQBlog_elesPage>.Article {
    margin: 10px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    white-space: pre;
    text-overflow: clip;
}

#SQBlog_elesPage>.Article>.sidebar {
    display: inline-block;
}

#SQBlog_elesPage>.Article>.main {
    display: inline-block;
}

#SQBlog_elesPage>.Article>.main>.header {
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}

#SQBlog_elesPage>.Article>.main>.header>.title {
    padding: 3px;
    margin-bottom: 8px;
}

#SQBlog_elesPage>.Article>.main>.header>span {
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

#SQBlog_elesPage>.Article>.main>.header>.date {
    background-color: rgba(100, 100, 100, 0.2);
}

#SQBlog_elesPage>.Article>.main>.header>.classify {
    background-color: rgba(87, 159, 253, 0.2);
}

#SQBlog_elesPage>.Article>.main>.header>.author {
    background-color: rgba(255, 255, 255, 0.2);
}

#SQBlog_elesPage>.Article>.main>.header>div {
    margin-top: 10px;
}

#SQBlog_elesPage>.Article>.main>.header>div>.tag {
    margin: 3px;
    padding: 3px;
    text-shadow: 0px 0px 2px #9b9b9b;
    cursor: pointer;
}

#SQBlog_elesPage>.Article>.main>.body {
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
    margin-top: 8px;
    background-color: #fffbec;
}

#SQBlog_elesPage>.Article>.main>.bottom {
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
    margin-top: 10px;
}

#SQBlog_elesPage>.Article>.main>.bottom>* {
    margin: 3px;
}

#SQBlog_elesPage>.Article>.main>.bottom>button {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    padding: 0px;
}

#SQBlog_elesPage>.Article>.main>.bottom>button>img {
    display: block;
}

#SQBlog_search {
    width: 250px;
    height: 40px;
    text-overflow: clip;
    border: solid 2px rgba(0, 0, 0, 0.6);
}

#SQBlog_search>input {
    vertical-align: top;
    margin: 0px;
    padding: 5.5px;
    margin-right: 2px;
    display: inline;
    outline: none;
    border: none;
    font-size: 1.2em;
    width: 100%;
}

#SQBlog_search>.go {
    width: 15%;
    height: 100%;
    display: inline;
}

#SQBlog_search>.delete {
    background-color: #ff6868;
    width: 15%;
    height: 100%;
    display: inline;
}

#SQBlog_search>button>img {
    display: block;
}

#SQBlog_copyright {
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 0px 0px 1px #000;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}