* {
    box-sizing: border-box;
}

html {
    height: 100dvh;
    width: 100dvw;

    overflow: hidden;

    body {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}

.tb-app-navigation-bar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 64px;
    width: 100%;

    & > .site-name > a {
    }

    & > .menus {
        display: flex;
        flex-direction: row;
        gap: 15px;

        & > .item {
        }
    }

    & > .drawer-menus {
        display: none;
    }
}

.tb-app-main-view {
    width: 100%;
    height: 100%;
    overflow: auto;

    .tb-app-content-view {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        .tb-app-sidebar-view {
            vertical-align: top;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: none;

            .tb-app-sidebar-introduction {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                width: 100%;

                .tb-app-sidebar-introduction-profile {
                    width: 150px;
                    height: 150px;
                }

                .tb-app-sidebar-introduction-personalized {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .tb-app-sidebar-announcement {
                width: 100%;
            }

            .tb-app-sidebar-website-info {
                width: 100%;

                & > .item {
                    display: flex;
                    justify-content: space-between;

                    &::after {
                        content: attr(value);

                    }
                }
            }
        }

        .tb-app-content-article-list-view {
            display: flex;
            flex-direction: column;

            .tb-app-content-article-list-content {
                display: flex;
                flex-direction: column;
                width: 100%;

                & > .item {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    height: 150px;
                    display: flex;
                    flex-direction: column;

                    .title {
                        height: 100%;
                    }

                    .section {
                        flex: 0 0 auto;
                        width: 100%;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                    }

                    .abstract {
                        flex: 0 0 auto;
                        width: 100%;
                        height: 36.5px;
                        white-space: normal;
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & > * {
                        pointer-events: none;
                    }
                }
            }

            .tb-app-content-article-list-paging {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: relative;

                .tb-app-content-article-list-paging-left {
                    display: flex;
                    align-items: center;
                    position: relative;
                }

                .tb-app-content-article-list-paging-first {
                    text-wrap: nowrap;
                    left: -42px;
                    position: absolute;
                }

                .tb-app-content-article-list-paging-numbers {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li {
                        display: inline;
                    }
                }
            }
        }

        .tb-app-content-tag-view,
        .tb-app-content-classify-view {
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }

        .tb-app-content-friend-link-view {
            display: flex;
            overflow: auto;
            flex-direction: column;

            & > .item {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .name, .link, .introduce {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .tb-app-content-about-view {
            flex-direction: column;

            .tb-app-content-about-social-contact {
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;
                flex-wrap: wrap;
            }

            .tb-app-content-about-more {
                display: flex;
                width: 100%;
                height: 100%;

                & > .box {
                    display: flex;
                    width: 100%;
                }
            }
        }

        .tb-app-content-article-view {
            position: relative;

            .tb-app-content-article-iframe {
                width: 100%;
                height: 100%;

                &.loading::before {
                    content: "加载中...";
                    position: absolute;
                    width: 100%;
                }
            }
        }

        & > *[view] {
            display: none;
            vertical-align: top;
            width: 100%;
            height: 100%;
        }

        & > *[view].select {
            display: inline-flex;
        }
    }

    .tb-app-main-top-scroll-element {
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
        left: 0;
    }

    .tb-app-footer-view {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
}

.tb-app-drawer-menus {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: flex-end;

    .tb-app-drawer-menus-content {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .menus {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (min-width: 800px) {
    .tb-app-main-view {
        .tb-app-content-view {
            display: block;

            .tb-app-sidebar-view {
                width: 25%;
                max-width: 350px;
            }

            & > *[view] {
                width: 75%;
            }
        }
    }
}

@media (max-width: 429px) {
    .tb-app-navigation-bar {
        & > .menus {
            display: none;
        }

        & > .drawer-menus {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            width: 30px;
            height: 30px;
        }
    }
}
