
.tb-app-navigation-bar {
    background-color: #85edff;

    padding: 0 30px 0 30px;

    & > .site-name > a {
        font-size: x-large;
    }


    & > .menus {
        gap: 15px;

        list-style-type: none;

        padding: 0px;

        & > .item {
            cursor: pointer;
        }
    }

    & > .drawer-menus {
        border-radius: 8px;
        background-color: #00e3ff;
        color: #fff;
    }
}

.tb-app-main-view {
    .tb-app-content-view {

        .tb-app-sidebar-view {
            padding: 15px;
            gap: 10px;

            .tb-app-sidebar-introduction {
                padding: 10px;
                background-color: #f0f0f0;

                .tb-app-sidebar-introduction-profile {
                    border-radius: 10px;
                }
            }

            .tb-app-sidebar-announcement {
                background-color: #f0f0f0;
            }

            .tb-app-sidebar-website-info {
                background-color: #f0f0f0;
            }
        }

        .tb-app-content-article-list-view {
            .tb-app-content-article-list-content {

                & > .item {
                    opacity: 0;
                    animation: article-list-item-appear 0.2s forwards;
                    border-bottom: 1.6px dashed #0000003d;
                    padding: 6px;
                    cursor: pointer;

                    .title {
                        font-size: x-large;
                    }

                    .section {
                        gap: 10px;
                    }

                    &:hover {
                        background-color: #00000010;
                    }
                }

                & > .item:last-child {
                    /*border: none;*/
                }
            }

            .tb-app-content-article-list-paging {
                margin-top: 5px;
                padding: 0 15% 0 15%;

                .tb-app-content-article-list-paging-left {
                    gap: 10px;
                }

                .tb-app-content-article-list-paging-first {
                    cursor: pointer;
                }

                .tb-app-content-article-list-paging-numbers {
                    width: 100%;
                    padding: 6px;
                    margin: 4.5px 10px 0 10px;
                    background-color: #efefef;
                    border-radius: 6px;
                    gap: 20px;

                    li {
                        cursor: pointer;
                        font-size: 20px;

                        &.select {
                            font-weight: bold;
                        }
                    }
                }

                .tb-app-content-article-list-paging-up,
                .tb-app-content-article-list-paging-down {
                    font-size: 30px;
                    cursor: pointer;
                }
            }
        }

        .tb-app-content-tag-view,
        .tb-app-content-classify-view {
            gap: 15px;

            & > .item {
                background-color: #ededed;
                border-radius: 8px;
                padding: 5px 10px 5px 10px;
                cursor: pointer;
            }
        }

        .tb-app-content-friend-link-view {
            gap: 15px;

            & > .item {
                background-color: #ededed;
                border-radius: 8px;
                padding: 5px 15px 5px 15px;
                cursor: pointer;
            }
        }

        .tb-app-content-about-view {
            gap: 15px;

            .tb-app-content-about-social-contact {
                gap: 15px;
                box-shadow: 0 0 5px 5px rgba(133, 237, 255, 0.25);
                border-radius: 6px;

                & > .item {
                    background-color: #ededed;
                    border-radius: 8px;
                    padding: 5px 15px 5px 15px;
                    cursor: pointer;
                }
            }

            .tb-app-content-about-more {
                gap: 15px;
                border-radius: 6px;

                & > .box {
                    background-color: #ededed;
                    border-radius: 8px;
                    padding: 5px 15px 5px 15px;
                    cursor: pointer;
                }
            }

            & > .item {
                border: none;
                padding: 10px;

                & > legend {
                    font-weight: bold;
                }
            }
        }

        .tb-app-content-article-view {
            .tb-app-content-article-iframe {
                border: none;
            }
        }

        & > *[view] {
            padding: 15px 15px 0;
        }
    }

    .tb-app-footer-view {
        background-color: #85edff;
    }
}

.tb-app-drawer-menus {
    background-color: rgba(106, 106, 106, 0.45);

    .tb-app-drawer-menus-content {
        background-color: #85edff;
        gap: 15px;

        & > .menus {
            cursor: pointer;
            list-style-type: none;
            gap: 20px;
            padding: 0;

            & > .item {
                cursor: pointer;
                font-size: xx-large;
            }
        }
    }
}

@media (min-width: 800px) {
    .tb-app-main-view {
        .tb-app-content-view {
            .tb-app-content-article-list-view {
                margin-bottom: 50px;
            }
        }
    }
}

@keyframes article-list-item-appear {
    to {
        opacity: 1;
    }
}