* {
    margin: 0%;
    padding: 0%;
}

html {
    text-align: center;
    width: 100%;
    background-image: url(../img/Main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

html::-webkit-scrollbar {
    display: none;
}

html::-ms-scrollbar {
    display: none;
}

html::-o-scrollbar {
    display: none;
}

html::-moz-scrollbar {
    display: none;
}

body {
    width: 100%;
}

button {
    cursor: pointer;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #113c38;
    transition: all 1s;
}

button:hover {
    outline: none;
    color: #579F98;
    border-bottom-color: #9A9A9A;
    border-bottom-width: 2px;
}

button:active {
    outline: none;
    color: #00ffe5;
}

a {
    color: #000000;
    outline: none;
}

p {
    margin: 3px;
}

#BlogGratuito_Window {
    position: fixed;
    top: 45%;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    font-size: 5em;
    background-color: #00ffe5;
}

#Blog_HeadM {
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 10px;
    border-style: solid;
    box-shadow: 2px 2px 2px #787878;
}

#Blog_Head {
    padding: 10px;
    text-align: left;
    background-color: rgb(129, 255, 213);
}

#BlogGratuito_Log {
    font-size: 2.5em;
}

.Blog_TitleBtn {
    margin-right: 30px;
    float: right;
    font-size: 2.5em;
}

#Blog_MainBoxLM {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    z-index: 0;
    position: relative;
}

#Blog_M {
    z-index: -1;
}

#Blog_NavigationBar {
    z-index: 999;
    width: 100%;
    box-shadow: 2px 2px 2px #000000;
    background-color: rgb(174, 253, 253);
    text-align: left;
    border-radius: 5px;
    margin-bottom: 8px;
}


#BlogGratuito_NavigationBarBtnBox button {
    font-size: 1.5em;
    margin: 3px;
}

#BlogGratuito_MainBoxL {
    z-index: -99;
}

#BlogGratuito_MainBoxL>div {
    padding: 5px;
    user-select: text;
    text-align: left;
    min-height: 100px;
    margin-bottom: 15px;
    background-color: rgb(215, 255, 255);
    box-shadow: 3px 3px 3px #000000;
    transition: all 0.5s;
}

#BlogGratuito_MainBoxL>div>div>div>div {
    text-align: center;
}

#BlogGratuito_MainBoxL>div>div>div>div>button {
    border-color: #000000;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-width: 3px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.1s;
}

#BlogGratuito_MainBoxL>div>div>div>div>button:focus {
    transform: translateY(8px);
}

#BlogGratuito_MainBoxL>div>div>div>div>button:focus::before {
    content: '查看📑';
}

#BlogGratuito_MainBoxL>div>div>div>div>button::before {
    content: '查看';
}

#BlogGratuito_MainBoxL>div>div>p {
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(132, 187, 235);
    color: #ffffff;
}

#BlogGratuito_MainBoxL>div>p {
    border-radius: 5px;
    padding: 2px;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px #858585;
}

#BlogGratuito_MainBoxL>div>h1 {
    text-shadow: 2px 2px 2px #ff009d38;
    text-decoration-line: underline;
    text-decoration-color: #00ffe5;
    text-decoration-style: wavy;
    margin-bottom: 8px;
    transition: all 0.5s;
}

#BlogGratuito_MainBoxL>div>h1:hover {
    text-decoration-color: #00aa99;
}

#BlogGratuito_MainBoxL>div>div>span>span {
    border-radius: 5px;
    padding: 2px;
    margin-right: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

#BlogGratuito_MainBoxL>div>div>div>span {
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    background-color: rgb(66, 250, 131);
    color: #ffffff;
}

#BlogGratuito_MainBoxL>div:hover {
    background-color: rgb(210, 233, 234);
    box-shadow: 1px 1px 1px #000000;
}

#BlogGratuito_MainBoxArticle {
    user-select: text;
}

#BlogGratuito_MainBoxArticle>div>div>div>div>div {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}

#BlogGratuito_MainBoxArticle>div {
    padding: 5px;
    border-style: solid;
    border-top: #ffffff;
    border-left: #ffffff;
    border-width: 2px;
    box-shadow: 3px 3px 3px #000000;
    background-color: rgb(248, 251, 197);
    text-align: left;
}

#BlogGratuito_MainBoxArticle>div>div>span>span {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

#BlogGratuito_MainBoxArticle>div>div>div>span {
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    background-color: rgb(66, 250, 131);
    color: #ffffff;
}

#BlogGratuito_MainBoxArticle>div>div>p {
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
    background-color: rgb(132, 187, 235);
    color: #ffffff;
}

#BlogGratuito_MainBoxArticle>div>div>span>span {
    border-radius: 5px;
    padding: 2px;
    margin-right: 3px;
}

#BlogGratuito_MainBoxArticle>div>h1 {
    text-shadow: 2px 2px 2px #ff009d38;
    text-decoration-line: underline;
    text-decoration-color: #00ffe5;
    text-decoration-style: wavy;
    margin-bottom: 8px;
}

#BlogGratuito_PageMainBoxArticle {
    background-color: rgb(238, 247, 255);
    padding: 5px;
    margin: 18px;
    border-radius: 3px;
    border-style: solid;
    user-select: none;
}

#BlogGratuito_PageMainBoxArticle>b {
    display: inline-block;
    background-color: #b8b8b8;
    padding: 3px;
    border-radius: 3px;
    font-size: 1.3em;
}

#BlogGratuito_PageMainBoxArticle>button {
    vertical-align: top;
    display: inline-block;
    border-color: #000000;
    font-size: 1.3em;
}

#Blog_MainBoxRM {
    margin-left: 5px;
    width: 25%;
    display: inline-block;
}

#Blog_MainBoxR div {
    margin-bottom: 10px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 2px 2px 2px #757575;
    background-color: rgb(255, 255, 255);
}

#Blog_MainBoxR div>p {
    user-select: text;
}

#BlogGratuito_TagList {
    border-radius: 5px;
    padding: 2px;
}

#BlogGratuito_TagList>p {
    display: inline-block;
    user-select: text;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
}

#BlogGratuito_Copyright {
    font-size: 1.5em;
}

#BlogGratuito_Search {
    width: 90%;
    margin: 8px;
    padding: 2px;
    font-size: 1.2em;
}

#Blog_HeadPortrait {
    width: 90%;
    max-width: 240px;
    border-style: solid;
    border-color: #c3c3c3;
    border-radius: 5px;
    margin-top: 8px;
}