@font-face {
    font-family: "VictorMono-Medium";
    src: url("./res/font/VictorMono-Medium.ttf");
}

body {
    background: linear-gradient(to right, hsl(1, 84%, 76%), hsl(179, 69%, 79%), hsl(201, 87%, 74%), hsl(248, 52%, 81%), hsl(197, 80%, 81%));
    font-family: 幼圆, sans-serif;
}

img {
    width: 100%;
    font-size: 0px;
}

svg {
    font-size: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#MainWindow {
    overflow-y: auto;
    transition: scroll 0.3s;
    background: fixed;
    /* background-image: url(./BJ.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#SQJMWeb_Logo_box {
    text-align: center;
    filter: blur(0px);
    letter-spacing: 5px;
    animation: SQJMWeb_Logo_box_an 5s;
}

@keyframes SQJMWeb_Logo_box_an {
    0% {
        filter: blur(8px);
    }

    100% {
        filter: blur(0px);
    }
}

#SQJMWeb_Logo_box>h1 {
    margin-top: 1.6em;
    user-select: text;
    font-size: 10em;
    text-shadow: 0px 0px 3px #000000;
}

.SQJMWeb_Effect_logo_1 {
    transform: rotate(40deg);
    position: fixed;
    top: -50%;
    left: -50%;
    height: 300%;
    animation: SQJMWeb_Effect_logo_1 8s forwards;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.6);
}

@keyframes SQJMWeb_Effect_logo_1 {
    0% {
        left: -50%;
    }

    100% {
        left: 110%;
    }
}

.SQJMWeb_Effect_logo_2 {
    transform: rotate(40deg);
    position: fixed;
    top: -50%;
    left: -30%;
    height: 300%;
    animation: SQJMWeb_Effect_logo_2 8s forwards;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

@keyframes SQJMWeb_Effect_logo_2 {
    0% {
        left: -30%;
    }

    48.48% {
        /* 添加停顿的百分比 */
        left: 20%;
    }

    50.50% {
        /* 添加停顿的百分比 */
        left: 20%;
    }

    100% {
        left: 110%;
    }
}