body {
    background-color: #C9EAF5;
    width: 100%;
}

.bodyM {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 550px;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    border-style: solid;
    border-color: #C2C2C2;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px #909090;

}

#imgM {
    width: 96%;
    border-style: solid;
    border-color: #000000;
    box-shadow: 0px 1px 6px 1px #909090;
}

#imgT {
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 2px 1px #909090;
}

.Abox {
    display: inline-block;
    margin: 3%;
    background-color: rgba(152, 235, 188, 0.9);
    border-style: solid;
    border-color: #E8FFFF;
    border-radius: 6px;
    width: 300px;
    height: 180px;
    box-shadow: 0px 1px 3px 1px #FFFFFF;
    transition: all 0.6s;
    animation: aboxa 1s;
}

@keyframes aboxa {
    0% {
        position: relative;
        left: -100%;
    }

    100% {
        position: relative;
        left: 0%;
    }
}
.Aboxb {
    display: inline-block;
    margin: 3%;
    background-color: rgba(152, 235, 188, 0.9);
    border-style: solid;
    border-color: #E8FFFF;
    border-radius: 6px;
    width: 300px;
    height: 180px;
    box-shadow: 0px 1px 3px 1px #FFFFFF;
    transition: all 0.6s;
    animation: aboxab 1s;
}
@keyframes aboxab {
    0% {
        position: relative;
        left: 100%;
    }

    100% {
        position: relative;
        left: 0%;
    }
}

.Abox:hover {
    box-shadow: 0px 3px 6px 3px #FFFFFF;
}
.Aboxb:hover {
    box-shadow: 0px 3px 6px 3px #FFFFFF;
}


.Am {
    display: inline-block;
    position: relative;
    left: -80px;
    border-style: solid;
    border-color: #E8FFFF;
    width: 80px;
    height: 80px;
}

.BT {
    text-shadow: 1px 1px #ACD7EC;
    color: #535B5B;
}

.TM {
    position: relative;
    left: -70px;
    vertical-align: top;
    display: inline-block;
    font-size: 0.8em;
}

.Aimg {
    display: block;
    width: 100%;
    height: 100%;
}

.AboxM {
    display: block;
    color: #FFFFFF;
    font-size: 2em;
    text-shadow: 1px 1px #ACD7EC;
}

.tagB {
    border-style: solid;
    border-color: #E8FFFF;
    border-radius: 3px;
    width: 30%;
    box-shadow: 0px 2px 3px 2px #909090;
    line-height: 1.5em;
}




#appimg{
    width: 80%;
}

.btnapp{
    font-size: 2em;
    background-color: #49ee3a;
    border-radius: 5px;
    border-color: #FFFFFF;
    transition: all 0.5s;
}
.btnapp:hover{
    background-color: #78ff6b;
    border-color: rgba(0, 0, 0, 255);
}
.btnapp:focus{
    border-color: rgba(0, 0, 0, 0);
}
#appD{
    background-color: #ACD7EC;
    border-style: solid;
    border-color: #E8FFFF;
    width: 80%;
    height: 200px;
    text-align: left;
    margin: 12px;
    padding: 5px;
}